/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020-3-11, 11:49:03
    Author     : 扣人心弦的稳
*/

        .order-title{
            text-align: center;
            margin-left: 25%;
            margin-right: 25%;
            border-left: 3px #888888 double;
            border-right: 3px #888888 double;
        }
        .order-tool{
            float: left;
            background-color: #ecf0f1;
            padding: 5px;
            margin-left: 25%;
            width: 50%;
            border-left: 3px #888888 dotted;
            border-right: 3px #888888 dotted;
            margin-bottom: 1px;
        }
        .checkin{
            width: 120px;
            height: 25px;
            border: 1px #101010 dotted;
            border-radius: 5px;
        }
        .room-info{
            float: left;
            width: 50%;
            padding: 5px;
        }
        .room-img{
            width: 350px;
            height: 250px;
        }
        p{
            margin: 0;
            padding: 5px;
        }
        .pay{
            float: left;
            width: 25%;
            font-size: 25px;
        }
        .price{
            float: left;
            width: 45%;
            color: red;
            font-size: 25px;
            font-weight: 800;
        }
        .preOrder{
            float: left;
            width: 30%;
            padding: 5px;
            margin-top: 80px;
            text-align: right;
        }
        #old{
            color: #666666;
        }

